html {
	scroll-snap-type: y mandatory;
}

.app {
	height: 100vh;
	background-color: black;
	/* //OMG!!!//display items X n Y centered */
	display: grid;
	place-items: center;
}

.app__videos {
	position: relative;
	height: 80%;
	width: 80%;
	border-radius: 30px;
	overflow: scroll;
	max-width: 500px;
	min-height: 800px;
	scroll-snap-type: y mandatory;
}

/* //OMG!!!//Hide scrollbar for Chrome, Safari, and Opera. */
.app__videos::-webkit-scrollbar {
	display: none;
}
